/* Reguły dotyczące strony głównej */
/* konfiguraccja elementów */
body {
  font-family: 'Roboto', sans-serif;
  width: 1150px;
  padding: 0px;
  margin: 0px;
  color: #000000;
  width: 1600px;
  height: 2349px;
}

h1 {
  /*width: 460px;*/
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636;
  color: #ffffff;
  padding-top: 3%;
  padding-left: 30%;
  padding-right: 30%;
}

h2 {
  font-size: 36px;
  line-height: 1.1719;
  text-align: center;
  margin-bottom: 5%;
  margin-top: 5%;
}

button {
  cursor: pointer;
  background-color: #2196f3;
  width: 200px;
  height: 50px;
  color: #ffffff;
  border-radius: 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
}

article {
  padding-top: 4%;
}

header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1721;
}

footer {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.714;
  background-color: #2f303a;
  height: 230px;
  padding-top: 8%;
  padding-left: 12%;
}

footer > a {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  letter-spacing: 3px;
  line-height: 1.1738;
  color: #ffffff;
  text-decoration: none;
  padding: 4%;
}

footer ul {
  padding-left: 4%;
}

footer address ul li {
  color: #ffffff;
}

footer ul li,
footer ul li a {
  font-style: normal;
  list-style: none;
  text-decoration: none;
  color: rgba(255, 255, 255, 60%);
}

footer ul li a:hover {
  color: #2196f3;
}

footer ul li a:focus {
  color: #ff0000;
}

table {
  padding-bottom: 2%;
}

/* konfiguracja klas */

.our-work,
table {
  margin-left: 12%;
  margin-right: 12%;
}

.main-menu {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.172;
}
.logo,
.main-menu > a {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  letter-spacing: 3px;
  line-height: 1.1738;
}
.logo {
  color: #2196f3;
}

.main-menu li > a:hover {
  color: #2196f3;
}

.main-menu li > a:focus {
  color: #ff0000;
}

.order-services {
  height: 300px;
  background-color: #2f303a;
  text-align: center;
  margin-top: 5%;
}

.main-menu a,
.main-menu ul li {
  list-style: none;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  color: #000000;
}

.our-team td {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.8;
  color: #212121;
  text-align: center;
}

.our-team td a {
  color: #757575;
  text-decoration: none;
}

.our-team td a:hover {
  color: #2196f3;
}

/* Reguły dotyczące strony portfolio.html */
.portfolio-menu button {
  /* position: absolute;
  left: 510px;
  top: 174px;*/
  width: 93px;
  height: 38px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  border-radius: 4px;
  background-color: #f5f4fa;
  color: #212121;
  border: none;
}

.portfolio-menu button:hover {
  border: solid 4px #2196f3;
  border-radius: 4px;
}

.portfolio-menu button:active {
  background-color: #2196f3;
  color: #ffffff;
}

.portfolio-menu ul {
  list-style: none;
}

.tiles .description {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.tiles .links {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  font-style: normal;
  color: #757575;
}
